body {
  margin: 10px;
}

html {
  font: 20px/1.618 sans-serif;
}

.headshot {
  grid-area: headshot;
}

.social {
  grid-area: social;
}

.navbox {
  grid-area: navbox;
}

.header {
  grid-area: header;
}

.body {
  grid-area: body;
}

.footer {
  grid-area: footer;
}

.wrapper {
  background-color: #fff;
  color: #57BC90;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
  grid-template-areas: 
  "header header header"
  " . . . "
  ". headshot . " 
  " . . . "
  ". body ."
  ". navbox ."
  ". social ."
  "footer footer footer";
}

li {
  list-style-type: none;
  text-align: center;
}

.box {
  background-color: #57BC90;
  border-radius: 2px;
  color: #fff;
  font-size: 100%;
  padding: 10px;
}

.body {
  background-color: #fff;
  color: #015249;
}

.body__aboutme {
  color: #77c9d4;
  font-size: 1.5rem;
  text-align: center;
  margin: 0%;
  height: 100%;
}

.body__text {
  font-size: 1rem;
  text-align: center;
  color: #a5a5af;
  
}

.body__title {
  font-size: 5rem;
  font-weight: bolder;
  text-align: center;
  margin: 2rem;
  height: 100%;
}

.footer {
  background-color: #77c9d4;
  color: #fff;
  text-align: center;
  font-size: 80%;
  font-weight: bold;
}

.header {
    background-color: #77c9d4;
    grid-row-start: 1;
    grid-row-end: 4;
    z-index: 0;
    height: 20rem;
    width: 100%;
    padding: 0px;
  }

.header__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.logos {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  width: 200px;
}

.logos__item--1,

.logos__item--3 {
  height: 65.99;
  width: 65.99px;
  padding: .4rem;
  margin: .5rem;
  background-color: #015249;
  border-radius: 360px;
}

.logos__item--2 {
  height: 65.99;
  width: 65.99px;
  padding: .4rem;
  margin: .5rem;
  background-color: #015249;
  border-radius: 5px;
}

.logos__item--2 img {
  border-radius: 5px;
}

.logos__item--1:hover,
.logos__item--2:hover,
.logos__item--3:hover {
  background-color: #77c9d4;
}

.navbox {
  background-color: #fff;
  align-self: center;
  justify-self: center;
}

.navbox a {
  text-decoration: none;
  color: #fff;
  align-self: center;
  justify-self: center;
  
}

.navbox ul {
  padding: 0px;
  align-self: center;
  justify-self: center;
  align-content: center;
  justify-content: center;
}

.navbox__button__container {
  align-items: center;
  justify-content: center;
}

.navbox__button--1 {
  border-radius: 360px;
  padding: 0.5rem 1.5rem;
  margin: 0.5rem;
  background-color: #57BC90;
}

.navbox__button--1:hover {
  background-color: #77c9d4;
}

.headshot {
  align-items: center;
  border-radius: 360px;
  background-color: transparent;
  grid-row-start: 3;
  grid-row-end: 5;
  display: flex;
  justify-content: center;
  max-height: 320px;
  min-height: 320px;
  max-width: 200px;
  min-width: 200px;
  z-index: 1;
  align-self: center;
  justify-self: center;
  
}

.headshot_img {
  border-radius: 360px;
  height: 222px;
  width: 222px;
}

.social img {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-between;
  width: 50px;
}


.social {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff;
  max-width: 200px;
  min-width: 200px;
  border-radius: 360px;
  align-self: center;
  justify-self: center;

}
.social ul {
  margin: 0rem;
  padding: 0rem;
}



