*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font: 16px/1.618 sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
main > * {
    flex: 1 1 17rem;
}

.container {
    margin: 0 auto;
    width: 51rem;
}