body {
    margin: 40px;
  }
  
  html {
    font: 16px/1.618 sans-serif;
}

  .sidebar {
          grid-area: sidebar;
      }
  
      .navbox {
          grid-area: navbox;
      }
  
      .content {
          grid-area: content;
      }
  
      .header {
          grid-area: header;
      }
  
      .footer {
          grid-area: footer;
      }
  
      .wrapper {
          background-color: #fff;
          color: #57BC90;
      }
  
    .wrapper {
      display: grid;
      grid-gap: 1em;
      grid-template-areas:
       "header"
       "navbox"
       "sidebar"
       "content"
       "footer"
    }
  
      @media only screen and (min-width: 500px)  {
      .wrapper {
  
          grid-template-columns: 20% auto;
          grid-template-areas:
          "header  navbox"
          "sidebar content"
          "footer   footer";
      }
      .navbox, ul {
        grid-column-start: 1;
        grid-column-end: 1;
      }
      .header {
        grid-column-start: 1;
        grid-column-end: 1;
        font-size: 95%;
      }
      }
  
      @media only screen and (min-width: 600px)   {
          .wrapper {
        grid-gap: 20px;
              grid-template-columns: 220px auto;
              grid-template-areas:
              "header  navbox"
              "sidebar content"
              "footer  footer";
              max-width: 600px;
          }
          .navbox, ul {
            grid-column-start: 1;
            grid-column-end: 1;
          }
          .header {
            grid-column-start: 1;
            grid-column-end: 1;
            font-size: 95%;
          }
      }
  
      @media only screen and (min-width: 800px)   {
        .wrapper {
      grid-gap: 20px;
            grid-template-columns: 220px auto;
            grid-template-areas:
            "header  navbox"
            "sidebar content"
            "footer  footer";
            max-width: 100%;
        }
    }

  .box {
    background-color: #57BC90;
    border-radius: 2px;
    color: #fff;
    font-size: 150%; 
    padding: 10px;
  }
  
  .header {
    background-color: #fff;
    color: #015249;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 50%;
  }

  .footer {
    background-color: #a5a5af;
    color: #fff;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
  }

  .sidebar,
  img {
    background-color: #015249;
    justify-self: center;
    justify-content: center;
    align-content: center;
    max-height: 200px;
    max-width: 200px;
    min-height: 200px;
    min-width: 200px;
  }
  
  .navbox,
  ul {
    background-color: #77c9d4;
    color: #fff;
    height: 50%;
    justify-items: end;
    list-style-type: none;
    text-align: right;
    font-size: 90%;
    grid-column-start: 3;
    grid-column-end: 3;

  }